<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyWebSocket</servlet-name>
  	<servlet-class>com.ttProject.websocket.MyWebSocket</servlet-class>
  	<init-param>
  	  <param-name>minVersion</param-name>
  	  <param-value>-1</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyWebSocket</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
